
<h1 > Aplicacion de Biblioteca</h1>
  <div class="container">
    <button (click)="listarAutor()" style="margin-left: 10px;" class="btn btn-dark" >Listar Autores</button>
    <button (click)="nuevoAutor()" style="margin-left: 10px;" class="btn btn-dark">Nuevo Autor</button>
    <button (click)="listarEditorial()" style="margin-left: 10px;" class="btn btn-dark" >Listar Editorial</button>
    <button (click)="nuevoEditorial()" style="margin-left: 10px;" class="btn btn-dark">Nueva Editorial</button>
    <button (click)="listarLibro()" style="margin-left: 10px;" class="btn btn-dark" >Listar Libros</button>
    <button (click)="nuevoLibro()" style="margin-left: 10px;" class="btn btn-dark">Nuevo Libro</button>
  </div>
  


<router-outlet></router-outlet>
<app-footer></app-footer>
