<div class="container col-md-6">
    <div class="card">
        <div class="card-hearder">
            <h3>Nuevo Libro</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input [(ngModel)]="libro.nombre" name="nombre" type="text" class="form-control">
                    <label for="">Ejemplares</label>
                    <input [(ngModel)]="libro.ejemplares"name="ejemplares" type="number" class="form-control">
                </div>
                
                <div class="form-group"style="margin-top: 15px;">
                    <select [(ngModel)]="libro.editorial.id" #IdEditorial name="idEditorial"> 
                        <option >Seleccionar Editorial</option>
                        <option  *ngFor="let editorial of editoriales" [value]="editorial.id">{{editorial.nombre}}</option>
                    </select>
                </div>
                <div class="form-group" style="margin-top: 15px;">
                    <select [(ngModel)]="libro.autor.id" #IdAutor name="idAutor"
                    > 
                        <option>Seleccionar Autor</option>
                        <option  *ngFor="let autor of autores" [value]="autor.id">{{autor.name}}</option>
                    </select>
                </div>
                <div class="form-group"style="margin-top: 15px;">
                    <button (click)="guardar(IdAutor.value,IdEditorial.value)"class="btn btn-dark">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>