<div class="container">
    <div class="card">
        <div class="card-hearder">
            <h3>Editorial</h3>
        </div>
        <div class="card-body">
            <div class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let editor of editoriales" class="text-center">
                        <td>{{editor.id}}</td>
                        <td>{{editor.nombre}}</td>
                        <td>
                            <button (click)="editar(editor)" class="btn btn-warning">Editar</button>
                            <button (click)="delete(editor)" class="btn btn-danger">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </div>
        </div>
    </div>
</div>